@font-face{
    src : url(samarkan.TTf);
    font-family: hinglishfont;
}

*{
    margin:0; padding:0; box-sizing: border-box;
    font-family: 'Aladin', cursive;
}

header{
    margin:0; padding:0;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../images/pink mahal.jpg');
    background-repeat:repeat;
    background-size:cover;
    animation: fade 22s infinite;
    text-decoration:none;
}

@keyframes fade{
    0%{
        background-image: url('../images/pink mahal.jpg');
    }
    20%{
        background-image: url('../images/himachal.jpg');
    }
    40%{
        background-image: url('../images/jammukashmir.jpg');
    }
    60%{
        background-image: url('../images/kerala.jpg');
    }
    80%{
        background-image: url('../images/manali.jpg');
    }
    100%{
        background-image: url('../images/udaipur.jpg');
    }
}

nav{
    width:100%; height:15vh;
    background: rgba(0,0,0,0.2);
    color:white; display: flex; justify-content: space-between;
    align-items:center; text-transform: uppercase;
}

nav .logo{
    width:25%; text-align: center;
}

nav .menu{
    width:40%;
    display:flex; justify-content:space-between;
}

nav .menu a {
    width:25%;
    text-decoration:none; color:white;
    font-weight:bold;
}

nav .menu a:nth-child(2){
    color: #00b894;
}


main{
    width:100%;
    height:85vh;
    display:flex;
    justify-content: center;
    align-items: top;
    text-align:center; color:white;
}

section{

}

section h3{
    font-size: 35px; font-weight:200; letter-spacing:3px;
    text-shadow:1px 1px 10px black;
}

.border{
    width:100px;
    height:10px;
    background:#00b894;
    margin: 10px auto;
}

 .card{
    width:340px;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%,-50%);
}

 .top-section{
    height: 310px;
    overflow: hidden;
    background: #00b894;
    position: relative;
}

#image-container{
    width:340px;
    height: 240px;
}

 .navv{
    text-align: center;
}
 .navv img{
    width:80px;
    height:50px;
    border:1px solid #ddd;
    margin: 8px 2px;
    cursor: pointer;
    transition: 2s;
}
.navv img: hover{
    border-color: #00b894;
}

.price{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #00b894;
    font-size: 24px;
}

.product-info{
    padding: 24px;
}

.name{
    text-formation: uppercase;
    font-size: 44px;
    color: #00b894;
    top: 250px;

}

.dis{
    font-size:15px;
    opacity: 0.7;background: rgba(0,0,0,0.2);

}

.btn{
    display:block;
    background:#00b894;
    text-align: centre;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    transition:1s;
    text-decoration: none;

}

.btn:hover{
    background:#333;
}

