//** {
	margin: 0;
	padding: 0;
}

body{
      margin-left:40%;
      margin-top: 5%;
      font-family: gotham;
      color: #42414e;

    }
.main{
      height: 480px;
      width: 300px;
      background-color: #fff;
      box-shadow: 5px 6px 7px 8px #dadada;
      border-radius: 25px 25px 25px 25px;
    }
.line{
      width: 80%;
      margin-left: 10%;
      background-color:#42414e;
      opacity: .2;
      border-radius: 3px;
      height: 3px;

    }
h1{
      margin-top: 0px;
      margin-left:25px;
      font-size: 1cm;
    }
.price{
      font-size:.8cm;
      text-align: right;
      margin-top:-60px;
      margin-right: 30px;
    }
.rating_text{
      margin-left: 25px;
      margin-top: -20px;
      font-weight: 500;
    }
.rating_div{
      margin-top: -18px;
    }
.stars_img{
      margin-left: 100px;
    }
.button{
      height: 25px;
      width: 70px;
      margin-left: 25px;
      background-color: #42414e;
      color: #fff;
      padding: 5px 0px 0px 15px;
    }
.add_to_cart_text{
      margin-top: -30px;
      font-weight: 500;
    }
.add_to_cart{
      margin-top: -30px;
      margin-left: 120px;
    }
.add_to_cart_img{
      margin-left: 100px;
    }*//
